body{
    background: #f8f9fa;
}
.product-card {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
}
.overlay {
    position: absolute;
    transition: all .5s ease;
    opacity: 0;
    background: rgba(0, 0, 0, 0.8);
}
.product-card:hover .overlay {
    opacity: 1;
}
.overlayTop {
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
}
.product-card:hover .overlayTop{
    height: 100%;
}

.dynamic-view{
    min-width: 80%;
}

.text {
    color: white;
    font-family: sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}
.price-new{
    font-weight: 800;
}
.navbar a.nav-link {
    text-transform: uppercase;
    color: $headings-color;
    font-weight: 500;

    &:hover {
        color: $primary;
    }
}

.logo {
    @include media-breakpoint-up(md) {
        width: 5.2rem;
    }

    @include media-breakpoint-down(sm) {
        width: 5.2rem;
    }
}
nav {
    .login-header {
        background-color: $primary;
        line-height: 2.6rem;
        padding: 0 10px;
        color: $gray-900;
        span.text-muted, a {
            color: $gray-900!important;
        }
    }
}
.main-content > :first-child:not(nav):not(.nav) {
    margin-top: map-get($spacers, 4);
}


.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .7);
}

.loadable.loading .loading-overlay { display: flex; }


label.required {
    &::after {
        content: '*';
        display: inline-block;
        padding-left: 4px;
        color: $danger;
    }
}

.btn-icon {
    padding-right: 5px;
    padding-left: 5px;
    //font-size: $font-size-lg;
}
.slick-slider{
    .slick-list {
        margin: {
            left: -15px;
            right: -15px;
        }
    }

    .slick-slide {

        padding-right: 15px;
        padding-left: 15px;

        &:focus {
            outline: none;
        }
    }
    .slick-prev::before, .slick-next::before{
        color: $yellow-100!important;
        line-height: 3rem!important;
        font-size: 3rem!important;
        z-index: 1000;


    }
    .slick-next, .slick-prev{
        min-height: 5rem!important;
        min-width: 5rem!important;
        right: -25px!important;
        top: calc(100%/3)!important;
        z-index: 1001;
    }
    .slick-prev.slick-disabled::before, .slick-next.slick-disabled::before{
        opacity: 1!important;
    }

}
.cart-header{

    a.btn-light{
        color: $white!important;
        background: none;
        border: none;
    }
}
.yellow-100{
    background: $yellow-100;
    color: black;
}
.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle{
    color: $white!important;
    background: none;
    border: none;
}
.btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus, .show > .btn-light.dropdown-toggle:focus {
    color: $white!important;
    background: none;
    border: none;
}
