<div>
    {% if is_granted('ROLE_USER') %}
        <div>{{ 'sylius.ui.hello'|trans }} {{ app.user.customer.fullName }}!</div>
        <a href="{{ path('sylius_shop_account_dashboard') }}">{{ 'sylius.ui.my_account'|trans }}</a>
        <span class="px-1 text-muted">|</span>
        <a href="{{ path('sylius_shop_logout') }}">{{ 'sylius.ui.logout'|trans }}</a>
    {% else %}
        {% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}
        <div class="login-header">
            <a href="{{ path('sylius_shop_login') }}">{{ 'sylius.ui.login'|trans }}</a>
            <span class="px-1 text-muted">/</span>
            <a href="{{ path('sylius_shop_register') }}">{{ 'sylius.ui.register'|trans }}</a>
            <i class="fas fa-user"></i>
        </div>

    {% endif %}
</div>
