<h4 class="mb-4">{{ 'sylius.ui.new_customers'|trans }}</h4>
<a href="{{ path('sylius_shop_register') }}" class="btn btn-primary btn-block">
    <span>
        <i class="fa fa-plus" style="font-size: 1rem;"></i>  {{ 'sylius.ui.create_an_account'|trans }}
    </span>
</a>
