{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{{ sonata_block_render_event('sylius.shop.product.index.before_box', {'product': product}) }}

<div class="card rounded-sm ">
    <div class="product-card">
        <a href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}">
            {% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': product, 'class': 'card-img-top'} %}
        </a>
        <div class="overlay overlayTop">
            <a href="{{ path('sylius_shop_partial_product_show_by_slug', {'slug': product.slug, '_locale': product.translation.locale}) }}"
               class=" text btn btn-primary btn-sm js-add-to-cart">
                <i class="fa fa-shopping-cart"></i>
            </a>
            <a href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}"
               data-product-id="{{ product.id }}"
               class=" text btn btn-primary btn-sm ml-5">
                <i class="fa fa-eye"></i>
            </a>
        </div>
    </div>
    <div class="card-body text-center">
        <h5 class="card-title">{{ product.name }}</h5>
    </div>
    <div class="card-footer">
        <div class="price-wrap h5 ">
        {% if not product.variants.empty() %}
                <span class="price-new float-left">{{ money.calculatePrice(product|sylius_resolve_variant) }} </span>
        {% endif %}
        <a href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}" class="card-link float-right">{{ 'sylius.ui.view_more'|trans }}</a>
        </div>
    </div>

</div>
{{ sonata_block_render_event('sylius.shop.product.index.after_box', {'product': product}) }}
