{% macro base(iconClass, extraClass) %}
    <i class="{{ iconClass }} {{ extraClass }}"></i>
{% endmacro %}

{% macro cart(extraClass) %}
    {% import _self as icons %}
    {{ icons.base('fas fa-shopping-bag', extraClass) }}
{% endmacro %}

{% macro star(extraClass) %}
    {% import _self as icons %}
    {{ icons.base('fas fa-star', extraClass) }}
{% endmacro %}


{% macro success(extraClass) %}
    {% import _self as icons %}
    {{ icons.base('fas fa-check', extraClass) }}
{% endmacro %}

{% macro danger(extraClass) %}
    {% import _self as icons %}
    {{ icons.base('fas fa-exclamation-circle', extraClass) }}
{% endmacro %}

{% macro info(extraClass) %}
    {% import _self as icons %}
    {{ icons.base('fas fa-info-circle', extraClass) }}
{% endmacro %}

{% macro arrowUp(extraClass) %}
    {% import _self as icons %}
    {{ icons.base('fas fa-chevron-up', extraClass) }}
{% endmacro %}

{% macro address(extraClass) %}
    {% import _self as icons %}
    {{ icons.base('fas fa-map-marker-alt', extraClass) }}
{% endmacro %}

{% macro transport(extraClass) %}
    {% import _self as icons %}
    {{ icons.base('fas fa-shuttle-van', extraClass) }}
{% endmacro %}

{% macro creditCard(extraClass) %}
    {% import _self as icons %}
    {{ icons.base('fas fa-credit-card', extraClass) }}
{% endmacro %}

{% macro flag(extraClass) %}
    {% import _self as icons %}
    {{ icons.base('fas fa-flag', extraClass) }}
{% endmacro %}

{% macro times(extraClass) %}
    {% import _self as icons %}
    {{ icons.base('fas fa-times', extraClass) }}
{% endmacro %}

{% macro reload(extraClass) %}
    {% import _self as icons %}
    {{ icons.base('fas fa-sync-alt', extraClass) }}
{% endmacro %}

{% macro plus(extraClass) %}
    {% import _self as icons %}
    {{ icons.base('fas fa-plus', extraClass) }}
{% endmacro %}
