{% macro item(taxon) %}
{% import _self as macros %}



{% if taxon.children|length > 0 %}
    <div class="item">
        <span class="text">{{ taxon.name }}</span>
        <i class="dropdown icon"></i>
        <div class="menu">
            {% for childTaxon in taxon.children %}
             {{ macros.item(childTaxon) }}
            {% endfor %}
        </div>
    </div>
{% else %}
<a href="{{ path('sylius_shop_product_index', {'slug': taxon.slug, '_locale': taxon.translation.locale}) }}" class="item">{{ taxon.name }}</a>
{% endif %}
{% endmacro %}

{% import _self as macros %}

{% if taxons|length > 0 %}
<div class="ui simple dropdown item"> Shop <i class="dropdown icon"></i>
    <div class="menu">
    {% for taxon in taxons %}
    {{ macros.item(taxon) }}
    {% endfor %}
    </div>
</div>
{% endif %}
