<!-- Modal -->


                <div class="pr-3">
                    {% if product.imagesByType('main') is not empty %}
                        {% set source_path = product.imagesByType('main').first.path %}
                        {% set original_path = source_path|imagine_filter('sylius_shop_product_original') %}
                        {% set path = source_path|imagine_filter(filter|default('sylius_shop_product_large_thumbnail')) %}
                    {% elseif product.images.first %}
                        {% set source_path = product.images.first.path %}
                        {% set original_path = source_path|imagine_filter('sylius_shop_product_original') %}
                        {% set path = source_path|imagine_filter(filter|default('sylius_shop_product_large_thumbnail')) %}
                    {% else %}
                        {% set original_path = '//placehold.it/400x300' %}
                        {% set path = original_path %}
                    {% endif %}

                    <div data-product-image="{{ path }}" data-product-link="{{ original_path }}"></div>
                    <a href="{{ original_path }}" class="ui fluid image" data-lightbox="sylius-product-image">
                        <img src="{{ path }}" id="main-image" alt="{{ product.name }}"/>
                    </a>
                </div>
                {% include '@SyliusShop/Product/Show/_header.html.twig' %}

                {{ sonata_block_render_event('sylius.shop.product.show.after_product_header', {'product': product}) }}

                <div class="d-flex justify-content-between align-items-center mb-3">
                    {% if not product.variants.empty() %}
                        {% include '@SyliusShop/Product/Show/_price.html.twig' %}
                    {% endif %}
                    <small class="text-muted">{{ product.code }}</small>
                </div>

                {{ sonata_block_render_event('sylius.shop.product.show.after_price', {'product': product}) }}

                <p class="pb-4">{{ product.shortDescription }}</p>

                {{ sonata_block_render_event('sylius.shop.product.show.after_description', {'product': product}) }}

                {% if product.isConfigurable() and product.getVariantSelectionMethod() == 'match' and not product.variants.empty() %}
                    {% include '@SyliusShop/Product/Show/_variantsPricing.html.twig' with {'pricing': sylius_product_variant_prices(product, sylius.channel)} %}
                {% endif %}
                {% include '@SyliusShop/Product/Show/_inventory.html.twig' %}

                {{ sonata_block_render_event('sylius.shop.product.show.after_add_to_cart', {'product': product}) }}

