<footer class="row">
    {{ sonata_block_render_event('sylius.shop.layout.before_footer') }}

    <div class="col mb-3">
        <h4>{{ "ABRITES"|trans }}</h4>
        <div class="d-flex flex-column">
            <a class="text-muted" href="{{ url('bitbag_sylius_cms_plugin_shop_page_show', {'slug' : 'about-us'}) }}">{{ 'sylius.ui.about'|trans }}</a>
            <a class="text-muted" href="{{ path('sylius_shop_contact_request') }}">{{ 'sylius.ui.contact_us'|trans }}</a>
        </div>
    </div>
    <div class="col mb-3">
        <h4>{{ 'sylius.ui.customer_care'|trans  }}</h4>
        <div class="d-flex flex-column">
            <a class="text-muted" href="{{ path('sylius_shop_contact_request') }}">{{ 'sylius.ui.contact_us'|trans }}</a>
        </div>
    </div>
    <div class="col-12 col-sm mb-3 text-sm-right">
        <h4>&copy; {{ "ABRITES"|trans }}</h4>
        <p class="text-muted">{{ 'sylius.ui.powered_by'|trans }} <a href="https://shop.abrites.com" target="_blank" style="color: #f6b600;">ABRITES</a>.</p>
    </div>

    {{ sonata_block_render_event('sylius.shop.layout.after_footer') }}
</footer>
