<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container">

        <!-- Brand/logo -->
        <a href="{{ path('sylius_shop_homepage') }}"><img class="logo" src="{{ asset('bootstrap-theme/images/logo-small.svg', 'bootstrapTheme') }}" alt="Sylius logo"/></a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item {% if (app.request.pathinfo == path('sylius_shop_homepage')) %} active {% endif %}">
                    <a class="nav-link" href="{{ path('sylius_shop_homepage') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {% if (app.request.pathinfo == path('bitbag_sylius_cms_plugin_shop_page_show', {'slug' : 'about-us'})) %} active {% endif %}">
                    <a class="nav-link" href="{{ url('bitbag_sylius_cms_plugin_shop_page_show', {'slug' : 'about-us'}) }}">About Us</a>
                </li>
                <li class="nav-item {% if (app.request.pathinfo == path('bitbag_sylius_cms_plugin_shop_page_show', {'slug' : 'services'})) %} active {% endif %}">
                    <a class="nav-link" href="{{ url('bitbag_sylius_cms_plugin_shop_page_show', {'slug' : 'services'}) }}">Services</a>
                </li>
                <li class="nav-item {% if (app.request.pathinfo == path('bitbag_sylius_cms_plugin_shop_page_show', {'slug' : 'our-partners'})) %} active {% endif %}">
                    <a class="nav-link" href="{{ url('bitbag_sylius_cms_plugin_shop_page_show', {'slug' : 'our-partners'}) }}">Our Partners</a>
                </li>
                <li class="nav-item {% if (app.request.pathinfo == path('sylius_shop_contact_request')) %} active {% endif %}">
                    <a class="nav-link" href="{{ path('sylius_shop_contact_request') }}">{{ 'sylius.ui.contact_us'|trans }}</a>
                </li>
            </ul>
        </div>
        <div class="col-auto d-flex align-items-center">
            <div class="d-none d-md-block text-right">
                {{ sonata_block_render_event('sylius.shop.layout.before_security_widget') }}

                {{ render(controller('sylius.controller.shop.security_widget:renderAction')) }}

                {{ sonata_block_render_event('sylius.shop.layout.after_security_widget') }}
            </div>
            <div class="ml-4">
                {{ render(url('sylius_shop_partial_cart_summary', {'template': '@SyliusShop/Cart/_widget.html.twig'})) }}
            </div>
        </div>

        {{ sonata_block_render_event('sylius.shop.layout.before_currency_switcher') }}

        {{ render(controller('sylius.controller.shop.currency_switch:renderAction')) }}

        {{ render(controller('sylius.controller.shop.locale_switch:renderAction')) }}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    </div>

</nav>
