<!DOCTYPE html>

<html lang="{{ app.request.locale|slice(0, 2) }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{{ asset('favicon.ico') }}?v=1" type="image/x-icon" />
    <title>{% block title %}Abrites{% endblock %}</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% block metatags %}
    {% endblock %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('app', null, 'bootstrapTheme') }}

        {{ sonata_block_render_event('sylius.shop.layout.stylesheets') }}
    {% endblock %}

    {{ sonata_block_render_event('sylius.shop.layout.head') }}
</head>

<body>
{{ sonata_block_render_event('sylius.shop.layout.before_body') }}

{% block top %}
    {% include '@SyliusShop/_header.html.twig' %}

    {{ sonata_block_render_event('sylius.shop.layout.after_header') }}

{% endblock %}

{% block header %}
    <div class="mt-5">
        <div class="border-top border-bottom bg-light">
            <div class="container">
                {{ render(url('sylius_shop_partial_taxon_index_by_code', {'code': 'category', 'template': '@SyliusShop/Taxon/_horizontalMenu.html.twig'})) }}
            </div>
        </div>
    </div>
{% endblock %}

<div class="main-content container">
    {% include '@SyliusShop/_flashes.html.twig' %}

    {{ sonata_block_render_event('sylius.shop.layout.before_content') }}

    {% block content %}
    {% endblock %}

    {{ sonata_block_render_event('sylius.shop.layout.after_content') }}
</div>

{% block footer %}
    <div class="bg-light border-top py-5 mt-5">
        <div class="container">
            {% include '@SyliusShop/_footer.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app', null, 'bootstrapTheme') }}

    {{ sonata_block_render_event('sylius.shop.layout.javascripts') }}
{% endblock %}

{{ sonata_block_render_event('sylius.shop.layout.after_body') }}

<div class="loading-overlay" data-js-loading-overlay>
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

</body>
</html>
