{% extends '@SyliusShop/layout.html.twig' %}

{% import '@SyliusShop/Common/Macro/sectionHeaders.html.twig' as headers %}

{% block content %}
    <div>
        {{ headers.default('sylius.ui.latest_products'|trans) }}
        {{ render(url('sylius_shop_partial_product_index_latest', {'count': 12, 'template': '@SyliusShop/Homepage/product_slider.html.twig'})) }}
    </div>

    <div>
        {{ headers.default('Featured Products'|trans) }}
        {{ render(url('find_product_by_tag_type', {'count': 12, "type":"featured", 'template': '@SyliusShop/Homepage/product_slider.html.twig'})) }}
    </div>
    <div>
        {{ headers.default('Most Wanded'|trans) }}
        {{ render(url('find_product_by_tag_type', {'count': 12, "type":"most_wanded", 'template': '@SyliusShop/Homepage/product_slider.html.twig'})) }}
    </div>

    <div>
        {{ headers.default('Most Popular'|trans) }}
        {{ render(url('find_product_by_tag_type', {'count': 12, "type":"most_popular", 'template': '@SyliusShop/Homepage/product_slider.html.twig'})) }}

    </div>
{% endblock %}
