<div class="slick-slider" style="display: none;">
    {% for product in products %}
        <div>
            {% include '@SyliusShop/Product/_box.html.twig' %}
        </div>
    {% endfor %}
</div>
