<div class="ui cards doubling js-slider">

        {% for product in products %}
            <div class="slide-item item-{{ product.getId() }}">
                {% include '@SyliusShop/Product/_box.html.twig' %}
            </div>
        {% endfor %}

</div>
