{% extends '@SyliusShop/layout.html.twig' %}

{% block metatags %}
    {% if page.metaKeywords is not empty %}
        <meta name="keywords" content="{{ page.metaKeywords }}"/>
    {% endif %}
    {% if page.metaDescription is not empty %}
        <meta name="description" content="{{ page.metaDescription }}"/>
    {% endif %}
{% endblock %}

{% block content %}
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('sylius_shop_homepage') }}">{{ 'sylius.ui.home'|trans }}</a></li>
            <li class="breadcrumb-item active">{{ page.breadcrumb }}</li>
        </ol>
    </nav>


<section class="py-5">
    <div class="container">
        <h2 class="text-center">{{ page.name }}</h2>

        <div class="ui grid center aligned">
            <div class="eight wide column">
                {% if page.image %}
                    {% set path = preview is defined and preview == true ? page.image.path : '/media/image/'~page.image.path %}
                    <img class="page-image ui fluid image" src="{{ path }}" alt="">
                {% endif %}
            </div>
        </div>

        <div class="ui hidden divider"></div>
        <div class="row">
            <div class="col-sm-12">
                {{ bitbag_cms_render_content(page) }}
            </div>
        </div>
        <div class="ui dividing header"></div>
        <div class="bitbag-page-sections">
            {% include '@BitBagSyliusCmsPlugin/Shop/Page/Show/_sections.html.twig' %}
        </div>
    </div>
    {% if page.products|length > 0 %}
        <h2>
            {{ 'bitbag_sylius_cms_plugin.ui.page_related_products'|trans }}
        </h2>
        <div class="bitbag-page-products">
            {% include '@SyliusShop/Product/_horizontalList.html.twig' with {'products': page.products} %}
        </div>
    {% endif %}
</section>
{% endblock %}
